body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url('images/background1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(14, 8, 8, 0.4);
    border-radius: 15px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.5em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff1493;
}